.profile__edit-button {
    margin: 15px 0 0;
    padding: 0;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/editButton.png);
    background-size: 10px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity .5s linear;
}

.profile__edit-button:hover {
    opacity: 0.5;