.cards__like {
    width: 22px;
    height: 19px;
    margin: 0 20px 0 0;
    padding: 0;
    border: none;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-color: white;
    cursor: pointer;
    transition: opacity .5s linear;
}

.cards__like:hover {
    opacity: 0.3;
}